.host {
  margin: 1rem auto;
  width: var(--content-width);

  .title {
    margin: 1rem 0;
    padding: 1rem;
    background: var(--tile-background);
    border-radius: var(--tile-border-radius);
    box-shadow: var(--shadow);

    position: sticky;
    top: calc(5rem + 1em + 3rem);
  }

  .tile {
    margin: 1rem 0;
    padding: 1rem;
    background: var(--tile-background);
    border-radius: var(--tile-border-radius);
    box-shadow: var(--shadow);

  }

  .buttons {
    display: grid;
    grid-template-areas: "previous next";
    justify-content: space-between;

    margin-top: 2rem;
  }
}